@model EventShopApp.ViewModels.HomeViewModel
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
}
<style>
    .gradient {
        font-size: 2.5rem;
        font-weight: bold;
        position: relative;
        background: linear-gradient(90deg, #ff7e5f, #feb47b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .gradient-custom {
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        background: linear-gradient(90deg, #ff7e5f, #f7b42c, #57c1eb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

        .gradient-custom::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 3px;
            background: #f7b42c;
            bottom: -5px;
            left: 25%;
            transition: width 0.3s;
        }

        .gradient-custom:hover::after {
            width: 100%;
            left: 0;
        }

    .home-page {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .catalog-container {
        background-color: #e0e0e0; 
        padding: 20px;
        margin-bottom: 20px;
    }

    .catalog {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        justify-content: center;
    }

    .catalog-item {
        display: inline-block;
        margin: 0 15px;
        text-align: center;
    }

    .catalog img {
        max-width: 150px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
    }
</style>

<div class="home-page">
    
    <h1 class="gradient">Spring</h1>
    <h4 class="gradient-custom">Keeping your life colourful</h4>

    <!-- Flowers Catalog -->
    <div class="catalog-container">
        <div class="catalog flowers-catalog">
            @foreach (var flower in Model.Flowers)
            {
                    <div class="catalog-item">
                        <img src="@flower.FlowerImageUrl" alt="@flower.FlowerType" />
                    </div>
            }
        </div>
    </div>

    <!-- Arrangements Catalog -->
    <div class="catalog-container">
        <div class="catalog arrangements-catalog">
            @foreach (var arrangement in Model.Arrangements)
            {
                    <div class="catalog-item">
                        <img src="@arrangement.ArrangementItemImageUrl" alt="@arrangement.ArrangementItemType" />
                    </div>
            }
        </div>
    </div>
</div>

<script src="~/js/home-scrollCatalog.js"></script>



