@model IEnumerable<EventShopApp.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<p>
    <a href="@Url.Action("Add", "Clients", new { area = "Management" })" class="btn btn-primary">+ New Client</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Surname</td>
                <td>@client.PhoneNumber</td>
                <td>@client.Email</td>
                <td>@client.Address</td>
            </tr>
        }
    </tbody>
</table>
