@model IEnumerable<EventShopApp.Models.Employee>

<h2>Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Role.ToString()</td>
                <td>@employee.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-sm btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Add Reinforcement</a>
